/*
this content is stored in a file named "site.css"
in a directory named "css" in the web root
*/

/* unvisited link (:link) */
a:link {
    color:red;
}
/* visited link (:visited) */
a:visited {
    color:black;
}
/* mouse hover over link (:hover) */
a:hover {
    color:blue;
}
/* active/selected link (:active) */
a:active {
    color:green;
}
